.canvas-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btns {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

body {
  background-color: rgb(35, 35, 35);
  color: white;
  font-family: 'PT Sans', sans-serif;
  display: flex;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

.left {
  padding: 10px;
  margin-left: 20px;
  margin-top: 60px;
  width: 220px;
  height: 100%;
}

.middle {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.right {
  margin-top: 20px;
  margin-right: 20px;
  width: 20%;
  height: 100%;
}

button {
  padding: 6px 12px;
  font-size: 16px;
  margin: 5px;
  border: none;
  font-family: 'PT Sans', sans-serif;
  width: 210px;
  color: white;
  background-color: transparent;
  border-radius: 16px;
  text-align: left;
}

button:hover {
  cursor: pointer;
  background-color: black;
}

.search-btns button:focus {
  background-color: grey;
  outline: none;
  box-shadow: 10px 5px 5px black;
}

.maze-btns button:focus {
  background-color: grey;
  outline: none;
  box-shadow: 10px 5px 5px black;
}

.recent button:hover {
  cursor: default;
}

.recent button:focus {
  box-shadow: none;
  outline: none;
  cursor: default;
}

.recent {
  margin-top: 25px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin: 8px 20px;
  font-size: 30px;
}

.icon:hover {
  cursor: pointer;
  opacity: 1;
}

a {
  color: white;
  opacity: 0.5;
}

a:hover {
  opacity: 1;
}

.description h3 {
  text-align: center;
}

.description p {
  text-align: justify;
}

.hidden {
  display: none;
}
