ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.path {

}

.wall {
  background-color: black;
}

.maze-viz {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
