ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.path {

}

.start {
  background-color: green;
}

.goal {
  background-color: red;
}

.wall {
  background-color: black;
}

.maze-viz {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
